apiVersion: apps/v1 
kind: Deployment
metadata:
  name: nginx-deploy-rq
  labels:
    app: nginx
  namespace: devops-team
spec:
  replicas: 10
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      name: nginx
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx  
          image: nginx 
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "100Mi"
            limits:
              cpu: "200m"
              memory: "200Mi"
---
apiVersion: v1 
kind: Service 
metadata:
  name: nginx-service-rq
  labels:
    app: nginx
  namespace: devops-team
spec:
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 80
  type: ClusterIP