apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: redis-app
  template:
    metadata:
      labels:
        app: redis-app
    spec:
      containers:
      - name: redis-app
        image: redis
        ports:
        - containerPort: 6379
        volumeMounts:
        - name: hostpath-vol
          mountPath: /redis-data
      volumes:
      - name: hostpath-vol 
        hostPath:
          path: /tmp/redis-data   #a location on worker node