apiVersion: apps/v1 
kind: Deployment
metadata:
  name: nginx-deploy
  labels:
    app: nginx
spec:
  replicas: 4
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      name: nginx
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx  
          image: nginx 
          ports:
            - containerPort: 8080
          volumeMounts:
          - name: nginx-config-vol
            mountPath: /etc/nginx/conf.d/    #/etc/nginx/conf.d/default.conf
      volumes:
      - name: nginx-config-vol
        configMap:
          name: nginx-config-cm       #this volume contains default.conf from cm
---
apiVersion: v1 
kind: Service 
metadata:
  name: nginx-service
  labels:
    app: nginx
spec:
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 8080
  type: ClusterIP